<div id="[ID]MessageBox" [StyleClass: class="[]"] style="[Style]display:[DisplayType];color:#F33;">* [TextValue]</div>
[ClientSide:
<script type="text/javascript" charset="UTF-8">
<!--
registerValidatorFunction( function() {
	return RequiredFieldValidation('[<ID]MessageBox', '[<TargetComponent]');
} );
//-->
</script>
]
