.tabview {
	width:100%;
	padding:0 0 1.5em 0em;
	margin:0;
	list-style:none;
	line-height:1em;
}
.tabview LI {
	float:left;
	margin:0;
	padding:0;
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #888;
}
.tabviewcontents {
	display:none;
	color:#339;
	text-decoration:none;
	background:#CCF;
	margin:0;
	padding:5px;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #888;
	border-bottom: 1px solid #888;
}
.debug {
	border: 1px solid #F00;
	background-color: #FDD;
}