
namespace Config {
    
	string DbType = "pgsql";
	string DbUsername = "";        
	string DbPassword = ""; 
	string DbHost = "localhost";
	string DbDatabase = "webframework";
	string DbTablePrfx = ""; // Leave this empty for the moment

	string Root = ""; // The host the system runs on
	string RootOffset = "webframework"; // Directory from the root 
	string AppDefault = ""; // The default application, leave empty for application list

	string DataDirectoryPath = "/path/to/webframework/Data";
	string DataDirectoryURL = "/webframework/Data";

	boolean Debug = 0;
	
	string Language = "EN.UK";
	string DateFormat = '%Y/%m/%d';
	number TimeZoneOffset = 0; // In minutes
	string PriceSeparator = '.';
	string PriceThousandSeparator = ',';
}
