.WysiwygEditor {
	/* padding: 5px; */
	border: 1px solid #f4f4f4;
	background: #fff;
	/* overflow: auto;
	outline: 0px solid transparent; */
}

.WysiwygEditorContextMenu {
	position: absolute;
	z-index: 99;
	top: 100px;
	left: 100px;
	background-color: #fff;
	border: 1px solid #DAD9D9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
}

.WysiwygEditorContextMenuItem:hover {
/*	background-color: #79d9f7;*/
	background-color: #f6f6f6;
}

.WysiwygEditorContextMenuItemLeft {
	width: 16px;
	background-color: #f6f6f6;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.WysiwygEditorContextMenuItemRight {
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.WysiwygEditorToolbar {
	background: url("toolbar-background.png") repeat-x;
	margin-bottom: 4px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.WysiwygEditorToolbarItemGroup {
	background: url("toolbar-item-group-background.png") repeat-x;
	margin: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

.WysiwygEditorToolbarItemContainer {
	padding-top: 2px;
	padding-bottom: 2px;
	white-space: nowrap;
}

.WysiwygEditorToolbarItemContainerFirstLast {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	white-space: nowrap;
}

.WysiwygEditorToolbarItemContainerFirst {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	white-space: nowrap;
}

.WysiwygEditorToolbarItemContainerLast {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	white-space: nowrap;
}

.WysiwygEditorToolbarItemContainer span,
.WysiwygEditorToolbarItemContainerFirstLast span,
.WysiwygEditorToolbarItemContainerFirst span,
.WysiwygEditorToolbarItemContainerLast span {
	margin-left: 4px;
	color: #666;
}

.WysiwygEditorToolbarItemContainer span:hover,
.WysiwygEditorToolbarItemContainerFirstLast span:hover,
.WysiwygEditorToolbarItemContainerFirst span:hover,
.WysiwygEditorToolbarItemContainerLast span:hover {
	color: #000;
}

.WysiwygEditorToolbarItem {
	cursor: default;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.WysiwygEditorToolbarItem:hover {
	background: #dff1ff;
}

.WysiwygEditorToolbarItemActive {
	background: #a3d7ff;
	cursor: default;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.WysiwygEditorToolbarItemActive:hover {
	background: #86caff;
}

.WysiwygEditorToolbarItem img, .WysiwygEditorToolbarItemActive img {
	vertical-align: bottom;
}

.WysiwygEditorToolbarItemDropDown {
	background: #fff;
	color: #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-right: 1px solid #DAD9D9;
	border-bottom: 1px solid #DAD9D9;
	/*padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;*/
	padding: 4px;
	margin: 4px;
	font-size: 12px;
	font-style: italic;
	cursor: default;
	white-space: nowrap;
}

.WysiwygEditorToolbarItemDropDown:hover {
	color: #000;
}

.WysiwygEditorToolbarDropDown {
	width: 170px;
	overflow-y: auto;
	overflow-x: none;
	position: absolute;
	z-index: 99;
	background: #fff;
	border: 1px solid #999;
/*	-webkit-box-shadow: 1px 5px 15px #555;
	-moz-box-shadow: 1px 5px 15px #555;
	box-shadow: 1px 5px 15px #555;*/
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

.WysiwygEditorToolbarDropDownItemHeader {
	width: 100%;
	padding: 5px;
	background: #acf0ff;
	cursor: default;
	white-space: nowrap;
	font-size: 12px;
}

.WysiwygEditorToolbarDropDownItem {
	width: 100%;
	padding: 5px;
	cursor: pointer;
	white-space: nowrap;
	font-size: 12px;
}

.WysiwygEditorToolbarDropDownItem:hover {
	background-color: #79d9f7;
}

.WysiwygEditorItemPopup {
	background: #fff;
	position: absolute;
	z-index: 99;
	border: 1px solid #A5A5A5;
	font-size: 12px;
	font-family: sans-serif;
	/* width: 450px; */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.WysiwygEditorItemPopupFooter {
	margin-top: 10px;
	width: 100%;
	background: #F2F2F2;
	border-top: 1px solid #A5A5A5;
}

.WysiwygEditorColorItemContainer:hover {
	background-color: #79d9f7;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.WysiwygEditorColorItem {
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	margin: 3px;
	cursor: pointer;
}
.WysiwygEditorMoreColorsButton {
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px;
	cursor: pointer;
	font-size: 10px;
}
.WysiwygEditorMoreColorsButton:hover {
	background-color: #79d9f7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.WysiwygEditorMoreColorItem {
	width: 7.7px;
	height: 7.7px;
	cursor: pointer;
}
.WysiwygEditorMoreColorItem:hover {
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	*/
}
.WysiwygEditorMoreColorsPreview {
	/* margin-left: 3px;
	margin-right: 3px;
	margin-top: 1px;
	margin-bottom: 3px; */
	padding: 0px;
	width: 100%;
	height: 15px;
	/*border: 1px solid #A5A5A5;*/
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

