.wfValueSliderInactive {
	color: #339; 
	border-bottom: 1px dashed #339; 
	cursor: move;
}
.wfValueSliderActive {
	color: #393; 
	border-bottom: 1px dashed #393; 
	cursor: move;
}
.wfValueSliderHint {
	color: #bbb;
	font-size: small;
	cursor: pointer;
}
.wfValueSliderInvisibleMovementCatch {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align: center;
	z-index: 1000;
	background-color:#000;
	-moz-opacity: 0.0;
	opacity:.0;
	filter: alpha(opacity=0);
	cursor: move;
}