<input type="button" id="[ID]" value="[TextValue]" [StyleClass:class="[]"] [Style:style="[]"]/>
<input type="hidden" name="[ID]" value="" id="FormValue_[ID]" />
<script type="text/javascript" charset="utf-8">
	SetComponent('[ID]', ComponentToggleButton('[ID]'));
	_('[ID]').setToggle([state:true][!state:false]);
	_('[ID]').activate();
</script>
