.HelperPopup {
	position: absolute;
	background-color: #e1ffe4;
	border: 1px solid #000;
	max-width: 200px;
	padding: 5px;
	-webkit-box-shadow: 1px 5px 15px #555;
	-moz-box-shadow: 1px 5px 15px #555;
	box-shadow: 1px 5px 15px #555;
}
.HelperText {
	font-weight: bold;
	font-size: 1.5em;
	color: #393;
	cursor: pointer;
}
