<div id="[ID]" class="HelperText">?</div>
<div id="[ID].popup" class="HelperPopup" style="display:none">
	[TextValue:<div>[]</div>]
	<script type="text/javascript" charset="utf-8">
		SetComponent('[ID]', new ComponentHelper('[ID]', '[target]'));
		_('[ID]').activate();
	</script>
