RewriteEngine on
RewriteRule ^tasks(/([^-]+)(([/]?[-]?[/]?)(.+)?)?)?$ tasks.app/tasks.fe?webframework_app=tasks&webframework_action=$2&webframework_command=$5 [QSA,L]
RewriteRule ^Email(/([^-]+)(([/]?[-]?[/]?)(.+)?)?)?$ Email.app/Email.fe?webframework_app=Email&webframework_action=$2&webframework_command=$5 [QSA,L]
