<input type="hidden" id="[ID]" value="[TextValue]" />
<input type="hidden" name="[ID]" value="" id="FormValue_[ID]" />
<script type="text/javascript" charset="utf-8">
	SetComponent('[ID]', ComponentHidden('[ID]'));
	_('[ID]').setState('text-value', '[TextValue]');
	_('[ID]').activate();
</script>