<span id="[ID]" [StyleClass:class="[]"] [Style:style="[]"]>[TextValue]</span>
<script type="text/javascript" charset="utf-8">
	SetComponent('[ID]', ComponentLabel('[ID]'));
	_('[ID]').setState('text-value', '[JavascriptSafeTextValue]');
	_('[ID]').activate();
</script>
