<input id="[ID]" name="[ID]%%%[%%%new%%%]%%%" type="text" value="[TextValue]" [length:maxlength="[]"] [StyleClass:class="[]"] [Style:style="[]"] [EventCode] />
<input name="[ID]%%%[%%%old%%%]%%%" type="hidden" value="[TextValue]" />
<script type="text/javascript" charset="utf-8">
	SetComponent('[ID]', ComponentTextfield('[ID]'));
	_('[ID]').setFormValueTarget( '[ID]')
	_('[ID]').setState('text-value', '[JavscriptSafeTextValue]');
	_('[ID]').setEnabled([Enabled]);
	_('[ID]').activate();
</script>