<select id="[ID]" [StyleClass:class="[]"] [Style:style="[]"]>
	[@Items: []]
</select>
<input type="hidden" class="debug" name="[ID]" value="" id="FormValue_[ID]" />
<script type="text/javascript" charset="utf-8">
	SetComponent('[ID]', ComponentPopup('[ID]'));
	_('[ID]').updateSelected();
	[@Selected: _('[.ID]').selectItemsByValue('[]');]
	_('[ID]').activate();
</script>
