.wfComboboxWrapper {
	border: 1px solid #999;
	padding: 0px;
}

.wfComboboxTextfield {
	width: 100%;
	border: 1px solid white;
	cursor: text;
	background-color: white;
}

.wfComboboxIcon {
	background-color: white;
	padding: 0px;
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.wfComboboxList {
	position: absolute;
	z-index: 7;
	background-color: white;
	border: 1px solid #999;
	-webkit-box-shadow: 1px 5px 15px #555;
	-moz-box-shadow: 1px 5px 15px #555;
	box-shadow: 1px 5px 15px #555;
}
.wfComboboxList ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.wfComboboxList ul li.selected {
	background-color: #79d9f7;
}
.wfComboboxList ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	height: 16px;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
}
/*
div.autocomplete {
	position:absolute;
	width:500px;
	background-color:white;
	border:1px solid #888;
	margin:0px;
	padding:0px;
}
div.autocomplete ul  {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
div.autocomplete ul li.selected { background-color: #79d9f7; }
div.autocomplete ul li {
	list-style-type: none;
	display:block;
	margin:0;
	padding:2px;
	height:16px;
	cursor: pointer;
}
*/
