[templateValues:<input TYPE="radio" VALUE="[ID]" NAME="[Name]" [Selected: CHECKED] [StyleClass: class="[]"] style="[Style]" [!Enabled:disabled="disabled"] > [TextValue] [HasChildren:<div [StyleClass: class="[]Body"] style="padding: 5px;padding-left:30px;">]]