</div></td>
	</tr>
	<tr> 
		<td height="15" class="[StyleClass]Spacer"> <table cellpadding="0" cellspacing="0" border="0" width="[Width]">
			<tr> 
				<td align="left"><div class="[StyleClass]CornerBottomLeft"><img src="[TransparentPixel]" width="1" height="1" border="0"></div></td>
				<td align="right"><div class="[StyleClass]CornerBottomRight"><img src="[TransparentPixel]" width="1" height="1" border="0"></div></td>
			</tr>
		</table></td>
	</tr>
</table>