[templateValues:

<div id="[ID]MessageBox" [StyleClass: class="[]"] style="[Style]display:[DisplayType];color:#F33;">* [TextValue]</div>
[ClientSide: [.templateValues:
<script language="Javascript">
<!--
registerValidatorFunction( function() {
	return RequiredFieldValidation('[ID]MessageBox', '[TargetComponent]');
} );
//-->
</script>
] ] ]