[templateValues:

<div id="[ID]Wrapper" style="padding: 5px;">

[TextValue: <div id="[<ID]" [<StyleClass: class="[]Label"] style="[<Style]" [<EventCode]>[]</div>]
<div [StyleClass: class="[]Container"] style="[Style]">

]