<input id="[ID]" name="[ID]" type="password" value="" [length:maxlength="[]"] [StyleClass:class="[]"] [Style:style="[]"] />
<script type="text/javascript" charset="utf-8">
	SetComponent('[ID]', ComponentPassword('[ID]'));
	_('[ID]').setFormValueTarget( '[ID]')
	_('[ID]').setState('text-value', '[TextValue]');
	_('[ID]').activate();
</script>