<li id="[componentID].[instanceID].Row" value="[instanceID]">
	[componentAttributes: [multiple:
		<input type="checkbox" id="[.componentID].[.instanceID].Selected" />
	]]
	<span id="[componentID].[instanceID].Label">[instanceRender]</span>
</li>