
.wfMultiplePopupList {
	position: absolute;
	z-index: 7;
	background-color: white;
	border: 1px solid #999;
	padding: 0px;
	-webkit-box-shadow: 1px 5px 15px #555;
	-moz-box-shadow: 1px 5px 15px #555;
	box-shadow: 1px 5px 15px #555;
}
.wfMultiplePopupList ul  {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
.wfMultiplePopupList ul li:hover {
	background-color: #79d9f7;
}
.wfMultiplePopupList ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.wfMultiplePopupList ul li span {
	padding-left: 5px;
}
.wfMultiplePopupList ul li input {
	margin: 0px;
	border: 0px;
}
.wfMultiplePopupList ul li.selected {
	background-color: #acf0ff;
}
.wfMultiplePopupList ul li.selected:hover {
	background-color: #79d9f7;
}
.wfMultiplePopupList div {
	padding: 5px;
	cursor: pointer;
	background-color: #EEE;
}
.wfMultiplePopupList div:hover {
	background-color: #79d9f7;
}
.wfMultiplePopupList div.selectall {
	border-bottom: 1px solid #BBB;
}
.wfMultiplePopupList div.done {
	border-top: 1px solid #BBB;
}
.wfMultiplePopupList div.donewaiting {
	border-top: 1px solid #BBB;
	background-color: #ddffdf;
	color: #444f45;
}
.wfMultiplePopupListButton {
	background-color: #FFF;
	border: 1px solid #999;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.wfMultiplePopupListButton span {
	display: inline-block;
	padding-bottom: 1px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

.wfMultiplePopupListButton img {
	vertical-align: top;
	background-color: #F2F2F2;
	border: 1px solid #888;
	padding: 2px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.wfMultiplePopupListButton img.onmouseover {
	background-color: #acf0ff;
}

