<li id="[componentID].[instanceID].Row" itemvalue="[instanceID]" itemseparator="[instanceSeparator]">
	[!instanceSeparator: [componentAttributes: [multiple:
		<input type="checkbox" id="[.componentID].[.instanceID].Selected" />
	]]]
	<span id="[componentID].[instanceID].Label" [instanceSeparator:class="separator"]>[instanceRender]</span>
</li>
